################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Not_Kayit_Sistemi/.vs/Not_Kayit_Sistemi/v15/Server/sqlite3
